<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JobMatch</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h1>Welcome to JobMatch</h1>
</header>

<nav class="navigation">
    <button th:if="${isAuthenticated}" onclick="logout()">Logout</button>

    <button th:unless="${isAuthenticated}" onclick="window.location.href='/user/login'">Login</button>
    <button th:unless="${isAuthenticated}" onclick="window.location.href='/user/register'">Register</button>

    <button
            th:if="${role == 'COMPANY'}"
            onclick="window.location.href='/company/profile'">Go to Company Profile</button>
    <button
            th:if="${role == 'PROFESSIONAL'}"
            onclick="window.location.href='/professional/profile'">Go to Professional Profile</button>

    <p th:if="${isAuthenticated}" th:text="'Hello, ' + ${username} + '!'"></p>
</nav>

<script>
    function logout() {
        window.location.href = "/logout";
    }
</script>
</body>
</html>
